

/* Start Style Header */
/* End Style Header */

/* Start Stayle Main */
    /* Start Stayle Department Img Section */

    .department-img {
      height: 400px;
      position: relative;
      top: -32px;
      background-image: url(/img/download.webp);
      background-size: cover;
    }

    .department-word {
      height: 100%;
      margin-right: 80px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    h2 {
      color: #fff;
      font-size: 100px;
      font-weight: 700;
    }

    /* End Stayle Department Img Section */
  /* End Style main */