/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  --main-color: #2196f3;
  --main-color-alt: #1787e0;
  --main-transition: 0.3s;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Cairo', sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* Start Style Main Title */

.main-title {
  text-transform: uppercase;
  font-size: 30px;
  border: 2px solid black;
  width: fit-content;
  padding: 10px 20px;
  position: relative;
  z-index: 1;
  margin: auto;
  margin-bottom: 80px;
  transition: var(--main-transition);
}

.main-title::before {
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--main-color);
  position: absolute;
  top: 50%; 
  transform: translateY(-50%);
  left: -20%;
}

.main-title::after {
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--main-color);
  position: absolute;
  top: 50%; 
  transform: translateY(-50%);
  right: -20%;
}

.main-title:hover::before {
  z-index: -19;
  animation: left-move 0.6s  linear forwards;
}

.main-title:hover::after {
  animation: right-move 0.6s  linear forwards;
  z-index: -19;
}

.main-title:hover {
  color: white;
  border: 2px solid white;
  transition-delay: 0.6s;
}

@keyframes left-move {
  50% {
    left: 0%;
    width: 12px;
    height: 12px;
  }
  100% {
    border-radius: 0;
    left: 0;
    width: 50%;
    height: 100%;
  }
}

@keyframes right-move {
  50% {
    right: 0%;
    width: 12px;
    height: 12px;
  }
  100% {
    border-radius: 0;
    right: 0;
    width: 50%;
    height: 100%;
  }
}

/* End Style Main Title */

/* End Global Rules */
/* Satart Style Header */

header {
  box-shadow: 0 0 10px #ddd;
  background-color: white;
  position: relative;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}

header .logo {
  color: var(--main-color);
  font-size: 26px;
  font-weight: bold;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 767px) {
  header .logo {
    width: 100%;
    height: 50%;
  }
}

  header nav > ul {
  display: flex;
}

@media (max-width: 767px) {
  header nav > ul {
    margin: auto;
  }
}

  header nav > ul > li > a {
  color: black;
  padding: 0 30px;
  font-size: 18px;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: var(--main-transition);
  position: relative;
  overflow: hidden;
}

@media (max-width: 767px) {
  nav > ul > li > a {
    padding: 10px;
    height: 40px;
    font-size: 14px;
  }
}

  header nav > ul > li > a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: var(--main-color);
  top: 0;
  left: -100%;
  transition: var(--main-transition);
}

header nav li > a:hover {
  color: var(--main-color);
  background-color: #fafafa;
}

nav > ul > li > a:hover::before {
  left: 0;
}

/* Start Style Mega menu */

.container > nav > ul > li > .mega-menu {
  position: absolute;
  width: 100%;
  left: 0;
  padding: 30px;
  display: flex;
  gap: 40px;
  border-bottom: 3px solid var(--main-color);
  background-color: white;
  top: calc(100% + 50px);
  opacity: 0;
  transition: top var(--main-transition), opacity var(--main-transition);
  z-index: -1;
}

@media (max-width: 767px) {
  .container > nav > ul > li > .mega-menu {
    flex-direction: column;
    gap: 0;
    padding: 5px;
  }
}

header .mega-menu .img {
  max-width: 100%;
}

@media (max-width: 991px) {
  header .mega-menu .img {
    display: none;
  }
}

header .mega-menu .mega-menu-links {
  min-width: 250px;
  flex: 1;
}

header .mega-menu .mega-menu-links li {
  position: relative;
}

header .mega-menu .mega-menu-links li:not(:last-child) {
  border-bottom: 1px solid #e9e6e6;
}

@media (max-width: 767px) {
  header .mega-menu .mega-menu-links:first-of-type li:last-child {
    border-bottom: 1px solid #e9e6e6;
  }
}

header .mega-menu .mega-menu-links li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #fafafa;
  z-index: -1;
  transition: var(--main-transition);
}

header .mega-menu .mega-menu-links li:hover::before{
  width: 100%;
}

.mega-menu .mega-menu-links li a {
  color: var(--main-color);
  padding: 15px;
  font-size: 18px;
  display: block;
  font-weight: bold;
}

.mega-menu .mega-menu-links li a i {
  margin-right: 10px;
}

header nav > ul > li:hover .mega-menu {
  opacity: 1;
  z-index: 998;
  top: calc(100% + 1px);
}


/* End Style Mega menue */

/* End Style Header */

/* Start Style Main */

/* Start Style Features Section */

.features {
  background-color: white;
  padding-top: 100px;
  padding-bottom: 100px;
}

.features .container {
  display: flex;
  gap: 40px;
  position: relative;
}

.quality,
.time,
.passion {
  text-align: center;
  border: 1px solid rgb(204, 204, 204);
  margin-top: 80px;
}

.back-img {
  position: relative;
  overflow: hidden;
}

.back-img img {
  max-width: 100%;
}

.features .quality .back-img::before,
.features .time .back-img::before,
.features .passion .back-img::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
}

.features .quality .back-img::before {
  background: rgb(244 64 54 / 60%);
}

.features .time .back-img::before {
  background: rgb(0 150 136 / 60%);
}

.features .passion .back-img::before {
  background: rgb(3 169 244 / 60%);
}

.features .quality .back-img::after,
.features .time .back-img::after,
.features .passion .back-img::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  border-style: solid;
  border-width: 0px 0px 170px 500px;
  border-color: transparent transparent white transparent;
  transition: var(--main-transition);
}

.features .quality:hover .back-img::after,
.features .time:hover .back-img::after,
.features .passion:hover .back-img::after {
  border-width: 170px 500px 170px 0px;
}

.features .quality h2,
.features .time h2,
.features .passion h2  {
  font-size: 40px;
  margin: auto;
  position: relative;
  width: fit-content;
}

.features .quality h2::after,
.features .time h2::after,
.features .passion h2::after {
  content: "";
  position: absolute;
  width: calc(100% - 30px);
  height: 5px;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
}

.features .quality h2::after {
  background-color: #f44036;
}

.features .time h2::after {
  background-color: #009688;
}

.features .passion h2::after {
  background-color: #03a9f4;
}

.features .quality p,
.features .time p,
.features .passion p  {
  font-size: 20px;
  margin: 30px 0px;
  padding: 25px;
  color: #777;
  line-height: 2;
}

.features .quality a,
.features .time a,
.features .passion a {
  width: fit-content;
  margin: 0px auto 30px;
  border: 3px solid transparent;
  font-weight: bold;
  font-size: 22px;
  padding: 10px 30px;
  border-radius: 6px;
  transition: var(--main-transition);
  display: block;
}

.features .quality a {
  border-color: #f44036;
  color: #f44036;
  background: linear-gradient(to right, #f44036 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}

.features .time a {
  border-color: #009688;
  color: #009688;
  background: linear-gradient(to right, #009688 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}

.features .passion a {
  border-color:#03a9f4;
  color: #03a9f4;
  background: linear-gradient(to right, #03a9f4 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}

.features .quality:hover > a,
.features .time:hover > a,
.features .passion:hover > a {
  background-position: left bottom;
  color: white;
}
/* End Style Features Section */

/* Start Style Our Skills Section */

.our-skills {
  padding-top: 100px;
  padding-bottom: 100px;
}

.our-skills .container {
  display: flex;
  align-items: center;
}

.our-skills .skill h3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.our-skills .skill h3 span {
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 12px;
  padding: 3px 5px;
  color: var(--main-color);
}

.our-skills .skill .progress-bar {
  width: 620px;
  height: 30px;
  background-color: #eee;
  position: relative;
}

.our-skills .skill .progress-bar .the-progress {
  background-color: var(--main-color);
  height: 30px;
}

.our-skills .skill .progress-bar .p-80 {
  width: 80%;
}

.our-skills .skill .progress-bar .p-85 {
  width: 85%;
}

.our-skills .skill .progress-bar .p-70 {
  width: 70%;
}

/* End Style Our Skills Section */

/* Start Style Request Section */

.request {
  display: flex;
  flex-wrap: wrap;
}

@keyframes change-background {
  0%, 100% {
    background-image: url(../img/discount-background1.jpg);
  }
}

.left-content {
  background-image: url(/img/discount-background1.jpg);
  background-size: cover;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 50%;
  position: relative;
  z-index: 1;
  animation: 10s linear 0s infinite normal none running change-background;
}

.request .content {
  text-align: center;
  padding: 0 20px;
}

.request .left-content::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(23 135 224 / 97%);
  z-index: -1;
}

.request .content h2 {
  font-size: 40px;
  letter-spacing: -2px;
}

.request .left-content > .content p {
  line-height: 1.6;
  font-size: 18px;
  max-width: 500px;
}

.request .left-content > .content img {
  width: 300px;
  max-width: 100%;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 50%;
  padding-bottom: 50px;
}

form {
  width: 60%;
  margin: auto;
}

input , 
textarea {
  width: 100%;
  margin-bottom: 25px;
  padding: 15px;
  border: none;
  border-bottom: 1px solid #ccc;
  background-color: #f9f9f9;
}

.request .form textarea {
  resize: none;
  height: 200px;
}

.request .form [type="submit"] {
  background-color: var(--main-color);
  color: white;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  transition: var(--main-transition);
}

.request .form [type="submit"]:hover {
  background-color: var(--main-color-alt);
}

/* End Style Request Section */

/* End Style Main */

/* Start Style Footer */

footer {
  background-color: rgb(25, 25, 25);
  padding: 70px 0px 0px;
}

footer .container {
  display: flex;
  gap: 40px;
}

footer .box {
  width: calc((100% - 40px) / 4);
}

footer .box h3 {
  color: white;
  font-size: 50px;
  margin: 0px 0px 20px;
}

footer .box .social {
  display: flex;
}

footer .box .social li {
  margin-right: 10px;
}

footer .box .social li a {
  background-color: rgb(49, 49, 49);
  color: rgb(185, 185, 185);
  width: 50px;
  height: 50px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  transition: var(--main-transition);
}

footer .box .social li .facebook:hover {
  background-color: var(--main-color-alt);
}

footer .box .social li .twitter:hover {
  background-color: var(--main-color);
}

footer .box .social li .youtube:hover {
  background-color: rgb(255, 0, 0);
}

footer .box .text {
  line-height: 2;
  color: rgb(185, 185, 185);
}

footer .box .links li:not(:last-child) {
  border-bottom: 1px solid rgb(68, 68, 68);
}

footer .box .links li {
  padding: 15px 0px;
  transition: var(--main-transition);
}

footer .box .links li a {
  color: rgb(185, 185, 185);
  transition: var(--main-transition);
}

footer .box .links li a::before {
  font-family: "Font Awesome 5 Free";
  content: "ï„";
  font-weight: 900;
  margin-right: 10px;
  color: var(--main-color);
}

footer .box .links li:hover {
  margin-left: 10px;
}

footer .box .links li:hover a {
  color: white;
}

footer .box .line {
  display: flex;
  align-items: center;
  color: rgb(185, 185, 185);
  margin-bottom: 30px;
}

footer .box .line i {
  color: var(--main-color);
  margin-right: 10px;
  font-size: 25px;
}

footer .box img {
  width: 78px;
  border: 3px solid white;
  margin: 2px;
}

footer > p {
  padding: 25px 0px;
  text-align: center;
  color: white;
  margin: 50px 0 0;
  border-top: 1px solid #444;
  word-spacing: 2px;
}

/* End Style Footer */